/* FONT FACES */
@font-face {
  font-family: LF-Normal;
  src: url("../assets/fonts/LibreFranklin-Medium.ttf");
}

@font-face {
  font-family: LF-Bold;
  src: url("../assets/fonts/LibreFranklin-Bold.ttf");
}

@font-face {
  font-family: Logo-Font;
  src: url("../assets/fonts/FredokaOne-Regular.ttf");
}

/* ROOT */
:root {
  --normal: "LF-Normal", sans-serif;
  --bold: "LF-Bold", sans-serif;
  --bg: #dce1de;
  --header: #49a078;
  --text: #333333;
  --display-box: #9cc5a1;
  --filter:invert(13%) sepia(34%) saturate(0%) hue-rotate(239deg) brightness(93%) contrast(81%);
}

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* PARENT-CONTAINER */
.container {
  display: grid;
  grid-template-rows: 150px 1fr 50px;
  height: 100%;
}

/* Header */
.header {
  place-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 16px;
  background-color: var(--header);
}

.logo-text {
  font-size: 68px;
  white-space: nowrap;
  font-family: "Logo-Font", sans-serif;
  color: var(--bg);
}

.logo-img {
  width: 110px;
}

/* DISPLAY */
.display {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  display: grid;
  grid-template-rows: auto auto;
  place-items: center;
  align-content: start;
}

form {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: var(--normal);
}

input {
  height: 42px;
  width: 600px;
  padding-left: 8px;
  border-radius: 6px;
  font-size: 22px;
  margin-right: 10px;
  background-color: #dde6de;
  border: 2px solid var(--text);
}

input:focus {
  outline: none;
  background-color: #d6e2d9;
}

button {
  all: unset;
  width: 96px;
  font-size: 22px;
  height: 44px;
  border-radius: 6px;
  text-align: center;
  background-color: #216956;
  color: var(--bg);
  font-family: var(--bold);
  cursor: pointer;
}

/* DISPLAY BOX */
.parent-box {
  display:flex;
  gap:24px;
}

.weather-gif {
  width:450px;
  border-radius:10px;
}
.display-box {
  background-color:var(--display-box);
  display:grid;
  grid-template-rows:repeat(5 ,auto);
  gap:12px;
  width:450px;
  border-radius:8px;
  font-family: var(--normal);
  color:var(--text);
  padding-bottom:16px;
}

.display-box img {
  filter: var(--filter);
}

.location {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:42px;
  padding-top:12px;
  padding-left:16px;
  padding-right:16px;
}

.conditions {
  display:flex;
  justify-content: center;
  align-items: center;
}

.conditions img {
  width:80px;
}

.conditions p {
  font-size:30px;
}

.temps {
  text-align:center;
}

.temps .current {
  font-size:30px;
}

.temps .feels-like {
  font-size:24px;
}

.wind, .humidity {
  display:flex;
  justify-content: center;
  align-items: center;
  gap:4px;
}

.wind img, .humidity img {
  width:34px;
}

.wind p, .humidity p {
  font-size:29px;
}

/* FOOTER */
.footer {
  font-family: var(--normal);
  font-size: 24px;
  height: 100%;
  width: 100%;
  background-color: #c4dacd;
  color: #333333;
  display: grid;
  place-items: center;
}

a {
  all: unset;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-family: var(--bold);
  cursor: pointer;
}
